#loginHead{
    /* border:1px solid black; */
    width:400px;
    height:150px;
    background-color: rgba(211, 211, 211, 0.274);
}

#loginText{
    /* border:1px solid red; */
    margin: 0px 10px;
    width:95%;
    height:25%;
    line-height: 40px;
    text-align: center;
    color:grey;
    font-size:13px;
}

#login{
    /* border:1px solid blue; */
    background-color: rgb(52, 52, 190);
    display:block;
    text-decoration: none;
    margin:0px 10px;
    width:95%;
    height:45%;
    text-align: center;
    line-height: 65px;
    font-size:35px;
    font-weight:750;
    color:white;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 4px;
}

#login>span{
    font-size:20px;
}

#login>a{
    /* border:1px solid orange; */
    text-decoration: none;
    color:white;
    font-size:18px;
}

#login-etc{
    /* border:1px solid green; */
    text-decoration: none;
    color:gray;
    margin:0px 10px;
    width:95%;
    height:25%;
    line-height: 40px;
    box-sizing: border-box;
}

#login-etc>div{
    list-style: none;
    width:50%;
    height:100%;
    float:left;
    /* border:1px solid green; */
    line-height: 35px;
}

#findUser>a{
    /* border:1px solid gold; */
    text-decoration: none;
    color:rgb(78, 75, 75);
    width:95px;
    font-size:13px;
}

#joinUser{
    text-align: right;
}

#joinUser>a{
    text-decoration: none;
    color:rgb(78, 75, 75);
    padding:0px 10px;
    font-size:13px;
}

#findUser>a>img{width:5.5%; height:33%;}
#joinUser>a>img{width:5.5%; height:33%;}