div{box-sizing:border-box; border:1px solid red;}

/* footer의 크기 임시로 변경하기 */
#footer{width:1000px; height:200px;}


/* footer-1의 크기 변경 */
#footer-1{height:20%;}
/* footer-2의 크기 변경 */
#footer-2{ border:1px solid blue; height:80%;}
#footer>div{width:100%;}

/* footer-1의 a요소들의 스타일 변경 */
#footer-1>a{
    text-decoration: none;
    color:black;
    margin:15px;
    font-weight:800;
    vertical-align: middle;
}

/* footer-2의 info 스타일 변경 */
#info{
    border:2px solid greenyellow;
    height:80%;
    padding:20px;
    font-size:14px;
    color:darkgrey;
}

/* footer-2의 copyright 스타일 변경 */
#copyright{
    border:2px solid darkmagenta;
    height:20%;
    text-align: center;
    color:darkgrey;
}